.hero {
  background-image: url("img/office-team.jpg");
  /* vh - viewport height */
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.overlay {
  min-height: 100vh;
  background-color: rgba(17, 17, 17, 0.722);
}
.bg-main {
  background-color: rgb(18, 58, 178);
}
